<a href="https://colab.research.google.com/github/sauravs1001/Data-Engineering-Spark/blob/main/practice_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!wget https://dlcdn.apache.org/spark/spark-3.1.2/spark-3.1.2-bin-hadoop3.2.tgz
!tar -xvf spark-3.1.2-bin-hadoop3.2.tgz
!pip install findspark
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-11-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.1.2-bin-hadoop3.2"
import findspark
findspark.init()

In [2]:
from pyspark.sql import SparkSession
from pyspark import SparkContext

In [3]:
spark = SparkSession.builder.master("local[*]").appName("practice4").getOrCreate()

In [4]:
sc = spark.sparkContext

In [5]:
input = sc.textFile('customerorders-201008-180523.csv')

In [29]:
rdd1 = input.map(lambda x:(float(x.split(",")[0]), float(x.split(",")[2]))).reduceByKey(lambda x,y : x+ y).sortBy(lambda x:x[1], False)

In [30]:
rdd1.take(10)

[(68.0, 6375.450000000001),
 (73.0, 6206.200000000001),
 (39.0, 6193.110000000001),
 (54.0, 6065.390000000001),
 (71.0, 5995.660000000002),
 (2.0, 5994.59),
 (97.0, 5977.1900000000005),
 (46.0, 5963.109999999999),
 (42.0, 5696.840000000002),
 (59.0, 5642.889999999999)]



---



# **Below codes are for movie rating problem**

---

In [41]:
input1 = sc.textFile('moviedata-201008-180523.data')

In [36]:
rdd11 = input1.map(lambda x: x.split("\t")[2]).map(lambda x:(x,1)).reduceByKey(lambda x,y : x+y).sortBy(lambda x: x[1], False)

In [40]:
for i in rdd11.collect():
  print(f"{i[1]} Number of people gave \"{i[0]}\" rating ")

34174 Number of people gave "4" rating
27145 Number of people gave "3" rating
21201 Number of people gave "5" rating
11370 Number of people gave "2" rating
6110 Number of people gave "1" rating

In [45]:
rdd12 = input1.map(lambda x: x.split("\t")[2])

In [52]:
results = rdd12.countByValue().items()

In [59]:
for i in sorted(results, key=lambda x: x[1], reverse=True):
  print(i)

('4', 34174)
('3', 27145)
('5', 21201)
('2', 11370)
('1', 6110)



---



# **Below Code for Frieds data problem**

---

In [5]:
input_friends = sc.textFile('friendsdata-201008-180523.csv')

In [8]:
def parseline(line):
  fields = line.split("::")
  age = int(fields[2])
  num_connections = int(fields[3])
  return(age, num_connections)

In [9]:
rdd_friends = input_friends.map(parseline)

In [10]:
rdd_friends.take(3)

[(33, 385), (26, 2), (55, 221)]

In [31]:
rdd_friends2 = rdd_friends.mapValues(lambda x:(x,1)).reduceByKey(lambda x,y:(x[0]+y[0], x[1]+y[1]))

In [32]:
rdd_friends3 = rdd_friends2.mapValues(lambda x: (x[0]//x[1])).sortBy(lambda x:x[1])

In [33]:
for i in rdd_friends3.collect():
  print(i)

(58, 116)
(20, 165)
(39, 169)
(49, 184)
(38, 193)
(25, 197)
(60, 202)
(22, 206)
(32, 207)
(28, 209)
(35, 211)
(19, 213)
(67, 214)
(29, 215)
(62, 220)
(59, 220)
(53, 222)
(46, 223)
(27, 228)
(43, 230)
(24, 233)
(47, 233)
(30, 235)
(69, 235)
(26, 242)
(34, 245)
(36, 246)
(23, 246)
(37, 249)
(40, 250)
(50, 254)
(61, 256)
(57, 258)
(31, 267)
(41, 268)
(68, 269)
(66, 276)
(54, 278)
(48, 281)
(64, 281)
(44, 282)
(55, 295)
(65, 298)
(51, 302)
(42, 303)
(56, 306)
(45, 309)
(33, 325)
(52, 340)
(18, 343)
(21, 350)
(63, 384)